# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
zig-x86_64-linux-0.14.1/
zig.tar.xz
.zig-cache/
zig-out/

# Ignore legacy binaries from ouroboros-lang
ouroboros-lang/ouroboros/*.o
ouroboros-lang/ouroboros/*.exe
ouroboros-lang/ouroboros/vscode-ouroboros/templates/project/ouroc.exe
ouroboros-lang/ouroboros/vscode-ouroboros/node_modules/
ouroboros-lang/ouroboros/vscode-ouroboros/*.vsix
